<div class="container">
    <div class="jumbotron">
        <h1>Unicows Store</h1>
        <p>We are (kinda) online!</p>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x320" alt="">
                <div class="caption">
                    <h4 class="pull-right">$24.99</h4>
                    <h4><a href="#">First Product</a>
                    </h4>
                    <p>Freegan portland banh mi, post-ironic lumbersexual fanny pack disrupt lo-fi adaptogen organic.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x320" alt="">
                <div class="caption">
                    <h4 class="pull-right">$64.99</h4>
                    <h4><a href="#">Second Product</a>
                    </h4>
                    <p>Hell of 90's vexillologist glossier hexagon freegan. Distillery normcore drinking vinegar pitchfork schlitz put a bird on it. </p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x320" alt="">
                <div class="caption">
                    <h4 class="pull-right">$74.99</h4>
                    <h4><a href="#">Third Product</a>
                    </h4>
                    <p>Typewriter dreamcatcher messenger bag +1.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x320" alt="">
                <div class="caption">
                    <h4 class="pull-right">$84.99</h4>
                    <h4><a href="#">Fourth Product</a>
                    </h4>
                    <p>Twee slow-carb kombucha lomo pinterest vice, neutra leggings.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x320" alt="">
                <div class="caption">
                    <h4 class="pull-right">$94.99</h4>
                    <h4><a href="#">Fifth Product</a>
                    </h4>
                    <p>Single-origin coffee meditation slow-carb bushwick twee, pabst pickled wolf kitsch roof party retro. Seitan thundercats readymade twee, fam live-edge quinoa hella sriracha.</p>
                </div>
            </div>
        </div>

    </div>
</div>
