<div class="container">
    <div class="row">

        <!-- TODO Add actual image -->
        <div class="col-sm-6 col-lg-6 col-md-6">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= @product.image['url'] %>" alt="">
            </div>
        </div>

        <!-- TODO Add actual information -->
        <div class="col-sm-6 col-lg-6 col-md-6">
            <div class="caption-full">
                <div class="row">
                    <% if @product.is_on_sale? %>
                        <h4 class="pull-right">R$ <%= @product.price %>,00</h4>
                    <% else %>
                        <h4 class="pull-right">VENDIDO</h4>
                    <% end %>
                    <h4><a href="#"><%= @product.title %></a></h4>
                </div>
                <p><%= @product.description %></p>
                <!-- TODO Implementar botão de compra -->
                <button type="button" class="btn btn-primary">Comprar</button>
            </div>

            <div class="container">
            </div>
        </div>
    </div>
</div>
