<div class="container">
    <div class="row">

        <!-- TODO Add actual image -->
        <div class="col-sm-6 col-lg-6 col-md-6">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/800x300" alt="">
            </div>
        </div>

        <!-- TODO Add actual information -->
        <div class="col-sm-6 col-lg-6 col-md-6">
            <div class="caption-full">
                <div class="row">
                    <h4 class="pull-right">$24.99</h4>
                    <h4><a href="#">Product Name</a></h4>
                </div>
                <p>Green juice yr squid PBR&B lumbersexual. Prism pabst small batch neutra roof party flannel taxidermy kale chips. Next level schlitz semiotics health goth DIY hella pitchfork paleo mumblecore pug. Knausgaard mixtape yuccie actually +1 man bun asymmetrical bushwick tofu PBR&B hammock. Cred wolf small batch, heirloom cronut squid cornhole post-ironic godard flannel. Woke skateboard normcore meditation viral. Typewriter shoreditch taxidermy hammock street art forage. Before they sold out brooklyn thundercats you probably haven't heard of them gastropub XOXO cardigan crucifix direct trade leggings. Gastropub viral forage vinyl sustainable PBR&B.</p>
                <!-- TODO Implementar botão de compra -->
                <button type="button" class="btn btn-primary">Comprar</button>
            </div>

            <div class="container">
            </div>
        </div>
    </div>
</div>
