<!DOCTYPE html>
<html>
  <head>
    <title>Unicows Store</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Unicows Store</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="navbar-link" href="/products/list">Produtos</a></li>
            <li><a class="navbar-link" href="/main/about">Sobre</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container theme-showcase main-stuff" role="main">
      <%= yield %>
    </div>

    <div class="container">
        <hr>
        <footer class="footer">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Unicows Store 2017</p>
                    <h4><a href="https://www.instagram.com/unicowsstore/" class="pull-right">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a></h4>
                    <h4><a href="https://www.facebook.com/unicowsstore" class="pull-right">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a></h4>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>

  </body>
</html>
